@import "tailwindcss";

body {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica,sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

.app-layout-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}
.header-container {
    background-color:#fff;
    height: 80px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.header-left-area {

}
.header-right-area {
    display: flex;
    align-items: center;
}
.logo-wrapper {
    width: 90px;
    height: 100%;
    cursor: pointer;
}
.logo-wrapper > img {
    height: 100%;
    width: 100%;
}
.navlinks-wrapper > ul {
    display: flex;
    list-style-type: none;
}
.navlinks-wrapper > ul > li{
    margin: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}
.login-container {
    margin: 0px 10px;
}
.login-btn {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.body-container {
    /* padding: 30px 50px; */
    margin-left: calc(7% + 52px);
    margin-right: calc(7% + 52px);
}
.top-area {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.filter-container {

}
.filter-btn {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
}
.search-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.input-wrapper {
    width: 400px;
    margin-right: 20px;
}
.input-wrapper > input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 10px;
}
.button-wrapper {
    margin: 0px 20px;
}

.button-wrapper > button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-container a {
    width: 22.5%;
}
.card-wrapper {
    /* width: 22.5%; */
    /* width: 230px; */
    /* height: 300px; */
    margin-right: 20px;
    margin-bottom: 20px;
    border: 0px solid white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 16px;
}
.card-wrapper:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-image-wrapper {
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}
.card-image-wrapper > img {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.card-data-wrapper {
    padding: 10px;
}
.name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.details {
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 5px;
    color:rgba(2, 6, 12, 0.6);
}
.rating {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    color: rgba(2, 6, 12, 0.92);
}
.time {
    font-size: 10px;
    font-weight: 400;
    color: rgba(2, 6, 12, 0.92);
    margin-bottom: 5px;
}


/* Shimmer UI */
.shimmer-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shimmer-card-wrapper {
    width: 22.5%;
}
.img-area, .info-area {
 
}
.img-area {
    width: 100%;
    height: 200px;
    background-color: #e2e2e2;
    margin-bottom: 10px;
}

.info-area {
}
.text-line {
    width: 100%;
    height: 10px;
    background-color: #e2e2e2;
    margin-bottom: 5px;
}

.user-card {
    width: 22.5%;
    padding: 10px;
    border: 0px solid white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 16px;
    margin: 20px;
}